.container{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-left: 1rem;
   
    
  }
  .box{
     height: 22rem;
     width: 22rem;
     display: flex;
     flex-direction: row;
     margin-left: .63rem;
     margin-bottom: 20px;
     justify-content: center;
     align-items: center;
    
     box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .box img{
     height: 21rem;
     width: 21rem;
     border-radius: 10px;
     object-fit: cover;
  }
 .modal{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   position: relative;
   
 }
 .image1{
   height: 100vh;
   width: 100vw;
  
 }
.btn{
   position: absolute;
   top:5%;
 left: 95%;
}
.btn2{
   position: absolute;
   top:5%;
 left: 85%;
}
.btn3{
   position: absolute;
   top:5%;
 left: 90%;
}
.btn4{
   position: absolute;
   top:5%;
 left: 80%;
}
.btn5{
   position: absolute;
   top:5%;
 left: 75%;
}
button{
   font-size: 1.5rem;
   background-color: transparent;
   outline: none;
   border: none;
}
.arrow{
   position: absolute;
   top:5%;
   right: 95%;
}

.input{
 background-color: transparent;
margin-left: 2rem;

}


  